<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.raspi.chatapp"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="3"
    android:versionName="MusicToGo 1.1 by MusicToGo-Coop">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".util.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".util.service.MessageService$RaiseMessageNotification">
            <intent-filter>
                <action
                    android:name="com.raspi.chatapp.util.Constants.MESSAGE_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.chatting.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.password.PasswordActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.chatting.ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.chatting.ChatActivity"/>
        </activity>
        <activity
            android:name=".ui.settings.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".ui.settings.ChangePasswordActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".util.storage.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>


        <service android:name=".util.service.MessageService"/>
        <service android:name=".util.internet.http.MessageDownloadService"/>
    </application>

</manifest>
